* {
background-color: rgb(150, 55, 0);
font-size: 30px;

}
/*---------------------*/
@font-face {
    font-family: Komoda;
    src:url('./../fonts/Komoda/Komoda.otf');

}

#Komoda {
   font-size: 150%;
   color: goldenrod;
   padding: 30px;
   background-color: mediumblue;
   font-family: Komoda;
}
/*------------------------*/

@font-face {
   font-family: Words_of_love;
   src: url('./../fonts/words_of_love/Words_of_love/WORDSOFL.ttf');
}

#Words_of_love  {
   font-size: 200%;
   color: blue;
   background-color: darkorchid;
   font-family: Words_of_love;
   padding:20px;

}
/*-----------------*/

#georgia {
   font-family: Georgia;
   font-size: 53px;
}
/*----------------*/

#times {
   font-family:times, "Times New Roman";
}

/*--------------------*/
.Bezszeryfowa {
   font-family: arial, verdana;
   font-size: 56px;
}

/*--------------*/

#helvetica {
   font-family: helvetica;
   font-size: 56px;
}
/*------------------------*/

#pochylona {
   font-weight: 10;

}
 #kursywa {
    font-weight: lighter;

}

#Normalna_ {
   font-style: normal;

}
h5 {
   color: goldenrod;
}

 #kursywa {
    font-style: italic;
}

.firstupper {
   text-transform: capitalize;
   color: aqua;
}

#normalny {
   text-decoration: none;

}

#przekreślenie {
   text-decoration: line-through;
    background-color: crimson

}
#lnt {
   text-decoration: overline;
    background-color: chartreuse

}
 #podkreślony {
    text-decoration: underline;
     background-color: aqua

}

#normalny, #przekreślenie, #lnt, #podkreślony {
   line-height: 1.3em;
}


#Odległości {
   letter-spacing: 0.25em;
   text-transform: uppercase;
   font-weight: 60;
   word-spacing: 22em;
    background-color: darkolivegreen

}

#lewy{ text-align: left;
}

#prawy { text-align: right;
}

#wyjustowany {

   text-align: justify;
}

#gora {
 background-color: cornsilk;
color: rgb(122,60,4;
height: 500px;

}
